.b-bottom-panel {
    position: fixed;
    height: 60px;
    width: calc(100% - 70px);
    bottom: 0;
    left: 0;
    display: flex;
    background-color: var(--cPrimary);
    color: white;
    z-index: 10;
    &__col {
        flex: 45% 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25em;
        &_1{}
        &_2{}
        .has-icon {
        }
    }
    &__col {
        .has-icon {
        }
        .icon {
            &_phone{
            }
        }
    }

    @media (min-width: $mobWidth+1){
        display: none;
    }
}