.b-crowns {
    padding: 55px 0 0;
    background-color: #E5E5E5;
    &__cnt {
        padding-left: 0;
        padding-right: 0;
        >h3{
            display: flex;
            align-items: center;
            margin-bottom: 1em;
            img{
                margin-right: 0.6em;   
            }
        }
    }
    &__items {
        width: 100%;
        display: flex;
        //margin-top: 15px;
    }
    
}


.b-crown {
    width: 20%;
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-right: solid 1px var(--cGreen);
    transition: 350ms ease-in-out;
    padding-bottom: 2em;

    font-size: 0.9em;
    &:hover{
        background-color: #F2FCFC;
    }
    &:last-of-type{ border-right: none; }
    
    &__top {
        min-height: 225px;
        border-bottom: solid 1px var(--cGreen);
        padding: 0 7px;
        h6 {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.12em;
            min-height: 3.5em;
            white-space: nowrap;
            //margin-bottom: 0.5em;
            margin-bottom: 1.25em;
        }
        .green {
        }
        p {
            font-size: 0.81em;
            line-height: 1.3em;
        }
        b {
        }
    }

    br {
    }
    &__bottom {
        padding: 15px 7px;
        p {
            font-size: 0.81em;
        }
        ul{
            font-size: 0.81em;
            margin-bottom: 3.5em;
            font-weight: 500;
            &:last-of-type{
                margin-bottom: 0.5em;
            }
            li{
                margin-bottom: 0.25em;
            }
        }
        b {
            font-weight: 600;
        }
        h6 {
            text-transform: uppercase;
            margin-bottom: 0.7em;
        }
        .green {
        }
        li {
        }
    }
    &__bottom-title {
        min-height: 2em;
    }
    &__bottom-plus {
        margin-top: 1em;
        min-height: 11em;
    }
    &__bottom-minus {}
    .red {
    }
    ul {
        li {
        }
    }
}