.b-hero {
    position: relative;
    // padding-top: 100px;
    // padding-bottom: 165px;
    // background-image: url(img/b-hero-bg-2.jpg);
    
    color: white;
    overflow: visible;
    @media (max-width: $tabWidth){
        padding-top: 65px;
        padding-bottom: 100px;
    }
    @media (max-width: $mobWidth){
        padding-bottom: 0;
        padding-top: 0;
    }

    &__slider{}
    
    .btns{
        margin-top: 3.5em;
    }

    &__header {
        width: 100%;
        position: absolute;
        top: 0;
        color: white;
        a{
            text-decoration: none;
            color: inherit;
        }
        @media (max-width: $mobWidth){ display: none; }
    }
    &__header-cnt {
        justify-content: space-between;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 10px;
    }
    
    &__logo {
    }
    
    &__contacts {
        font-size: 1.12em;
        a{
            margin-left: 35px;
        }
        .icon_email{}
        .icon_phone{}
    }
    &__body {
        padding: 100px 0;
        @media (max-width: $mobWidth){
            padding: 50px 0 30px;
            font-size: 0.85em;
        }
    }
    .cnt {
        p {
        }
    }
    h1 {
        color: inherit;
        margin-bottom: 0.7em;
    }
    &__acts{
        margin-top: 50px;
        .btn{
            margin-right: 1em;
        }
        .btn_trans{
            padding: 1em 2em;
        }

        @media (max-width: $mobWidth){
            margin-top: 25px;
            a{
                margin: 0.5em;
                margin-left: 0;
                min-width: 18em;
            }
        }
    }

}


.b-hero-slide{
    // padding: 275px 0 220px;
    padding: 375px 0 220px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    position: relative; 
    z-index: 1;
    .cnt{
        position: relative;
        z-index: 5;
    }

    &__text{
        padding-left: 1.5em;
    }


    .gradient, .blur{
        position: absolute;
        width: 100%;
        height: calc( 100% - 100px );
        left: 0;
        top: 0;
    }
    .gradient{
        z-index: 3;
        background: linear-gradient(200.73deg, rgba(77, 67, 87, 0.8) 7.99%, rgba(77, 67, 87, 0.3) 98.97%);
        backdrop-filter: blur(30px);
    } 
    .blur{
        z-index: 4;
    }
}