.b-methods {
    padding-top: 70px;
    padding-bottom: 60px;

    background-image: url(/images/bg-patternn.png);


    &__cnt {
        h3{
            margin-bottom: 1.65em;
        }
    }
    .gr-12 {
    }
    &__items {
        list-style: none;
        display: flex;
        justify-content: center;
        font-size: 1em;
        margin-top: 15px;
    }
}

.b-method {
    width: 33%;
    display: flex;
    &__icon {
        width: 110px;
        height: 110px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--cGreen);    
    }
    img {
    }
    &__info {
        flex-grow: 1;
        padding-left: 35px;
        padding-right: 20px;
        align-self: stretch;
        display: flex;
        flex-direction: column;

    }
    &__title {
        font-size: 1.25em;
        margin-bottom: 1em;
        h5{
            font-size: 1em;
            min-height: 3.5em;
        }
        
    }
    
    &__text {
        margin-top: 0.5em;
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        p{
            font-size: 0.87em;
            line-height: 1.2em;
        }
        b{
            font-weight: 600;
        }


        .mt-a{
            margin-top: auto;
        }
    }
    
}