.b-trust {
    background-color: #F2FCFC;
    padding: 65px 0 35px;
    &__cnt {
        h3{
            margin-bottom: 2em;
        }
    }
    
    &__items {
        display: flex;
        justify-content: center;
    }
    
    // .b-media {}
    // .b-media__icon-wrpr {}
    // .b-media__icon {}
    // .b-media__title {}

}