.b-vid {
  display: flex;
  margin-bottom: -90px;
  align-items: stretch;
    .col-text{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 160px;
      h3{
        margin-bottom: 0.8em;
      }
      p{
        font-size: 1.12em;
      }
    }
    .col-video{}
}