:root{
    --cPrimary: #41516D;
    --cRed: rgba(191, 19, 19, 1);
    --cGreen: rgba(3, 186, 189, 1);
    --cStar: #F4C151;
}




$cPrimaryBord: #00a000;
$cSecondary: #ff393e;
$cSecondaryBord: #de363a;
$cThird: #f3f9fa;
$cBorder: #cecece;


// $inputBorder: #131d9a;
// $inputBorder: #131dff;
$inputBorder: rgba(255, 255, 255, 1);



$mobWidth: 600px;
$tabWidth: 1000px;
$tabSmlWidth: 850px;
$deskWidth: 1170px;

$xsWidth: 400px;
$xlWidth: 1280px;
$xxlWidth: 1900px;


